.Navigation {
  /* Barre horizontale fixée en bas */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  /* Alignement horizontal */
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* Hauteur et style */
  height: 60px;
  padding: 0 20px; /* Un peu de padding horizontal */
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Pour être au-dessus du contenu */
}

/* Items de navigation (icônes) */
.NavItem {
  /* Dimensions de base pour l'icône */
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* Petite marge horizontale pour éviter qu'ils ne soient collés */
  margin: 0 10px;
}

/* Bouton central (le +) */
.NavItem--main {
  /* Ajuste la forme : ici on fait un rond de 60px */
  width: 80px;
  border-radius: 20px;

  background: rgb(255, 0, 0);
  background: linear-gradient(
    13deg,
    rgba(255, 0, 0, 1) 11%,
    rgba(247, 6, 228, 1) 77%
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* Centrage de l'icône à l'intérieur */
  display: flex;
  align-items: center;
  justify-content: center;
}
