:root {
  background-color: #ffffff;
  --color-text: #000000;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

text {
  color: var(--color-text);
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  font-size: 36px;
  font-weight: 700;
}

.Subtitle {
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.MainContainer {
  padding-bottom: 60px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}

@media screen and (max-width: 768px) {
  .MainContainer {
    zoom: 1.5;
  }
}
